@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Josefin";
  src: url('./assets/fonts/static/JosefinSans-Medium.ttf') format('ttf')
  url('./assets/fonts/static/JosefinSans-Bold.ttf') format('ttf');
}

.todo-app {
  background: url("./assets/images/bg-desktop-dark.jpg") no-repeat, hsl(235, 21%, 11%);
}