@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-centered {
    @apply flex justify-center items-center;
  }

  .filter-link {
    @apply px-2 hover:text-white-100 focus:text-blue-200 cursor-pointer font-bold;
  }

  .filter-link-light {
    @apply px-2 text-gray-400 hover:text-blue-300 focus:text-blue-200 cursor-pointer font-bold;
  }

  .create-border-bottom {
    @apply border-solid border-b-2 cursor-pointer;
  }

  .create-border {
    @apply border-solid border-2
  }

  .responsive-width {
    @apply mx-auto xl:w-1/3 lg:w-2/3 md:w-2/3 sm:w-10/12 xs:w-10/12 xxs:w-11/12;
  }

  .font-size {
    @apply xl:text-xl lg:text-lg md:text-base sm:text-[1rem] xs:text-[1rem] xxs:text-[1rem];
  }
}

@font-face {
  font-family: "Josefin";
  src: url('@/assets/fonts/static/JosefinSans-Medium.ttf') format('ttf') url('@/assets/fonts/static/JosefinSans-Bold.ttf') format('ttf');
}