@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-centered {
    @apply flex justify-center items-center;
  }

  .filter-link {
    @apply px-2 hover:text-white-100 cursor-pointer font-bold;
  }

  .filter-link-light {
    @apply px-2 text-gray-400 hover:text-blue-300 cursor-pointer font-bold;
  }

  .create-border-bottom {
    @apply border-solid border-b-2 cursor-pointer;
  }

  .create-border {
    @apply border-solid border-2;
  }

  .responsive-width {
    @apply w-[30rem] min-w-max mx-auto sm:w-10/12 sm:mx-auto;
  }
}


@layer base {
  @font-face {
    font-family: "Josefin";
    src: url('@/assets/fonts/static/JosefinSans-Medium.ttf');
  }

  @font-face {
    font-family: "Arial";
    src: url('@/assets/fonts/Arial/Arial.ttf');
  }
}